body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;

}

.navbar {
    padding: 10px;
    border-bottom: 2px solid silver;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__title {
    color: #a435f0;
}

.navbar__s2 {
    border: 1px black solid;
    width: 60%;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2__inputbox {
    border: none;
    width: 100%;
    background-color: transparent;
}

.navbar__s2__inputbox:focus {
    outline: none;

}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Mylearning{
    position: relative;
    cursor: pointer;
}
.Mylearning__popup{
    position: absolute;
    border: solid black 1px;
    padding: 10px;
    top: 150%;
    background-color: white;
    right: 0;
    display: none;
    

}
.Mylearning:hover .Mylearning__popup{
    display: block;
}
.categories {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid silver;


}

.categories p {
    background-color: #a435f0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    border: solid #a435f0 1px ;
}
.categories p:hover{
    background-color: transparent;
    color: black;
    border: solid #a435f0 1px ;
}
.sales img {
    width: 100%;
}

.recommended,
.popular {
    padding: 10px;
}

.recommended__container,
.popular__container {

    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;

}

.course__card {
    width: 250px;
}

.course__card img {
    width: 100%;
    height: 50%;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.topics__container p {
    border: solid gray 2px;
    flex-grow: 1;
    flex-basis: 25%;
    padding: 10px;
}

.footer__s1 {
    display: flex;
    gap: 50px;
    
}

.footer__s2{
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color: black;
    padding:10px;
    color: white;
}
.footer__s1__1 p,.footer__s1__2 p{
    margin: 20px;
}
.sales{
    position: relative;
}
.sales__offer{
    background-color: cadetblue;
    position: absolute;
    border: solid black 2px;
    top:20%;
    left: 10%;
    padding: 2%;
    animation-name: zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}
@keyframes zoom {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
    
}
